# Droidian / Systemd requirements
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_AUTOFS4_FS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y

# Security (AppArmor is mandatory for Droidian)
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_SECURITY_PATH=y
CONFIG_AUDIT=y

# Networking for Telnet/SSH Debug
CONFIG_USB_G_ANDROID=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_RNDIS=y

# CIFS
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_CIFS=m 

# Modules support
CONFIG_MODULES=y

# SYSVPIC support
CONFIG_SYSVIPC=y
